.home{
    background-color: white;
  }
  .homeImage-2{
    margin-top: 12%;
    margin-left: 10%;
  }
  .homeImage-1{
    margin-top: 12%;
 
    width: 100%;
  }
   .homePaper-1{
    margin-top: 5%;
    margin-left: 10%;
   
  }
  
  .homePaper-2{
    margin-top: 5%;
    margin-left: 10%;
    
  }
  .homePaper-3{
    margin-top: 5%;
    margin-left: 10%;
    
  } 
  .tips{
    margin-left: 45%;
    margin-top: 10%;
  }
  .tip-1{
    margin-left: 38%;
  }
  .tip-2{
    margin-left: 40%;
  }