/* body{
  background: rgb(235,25,181);
  background: linear-gradient(90deg, rgba(235,25,181,1) 2%, rgba(184,21,216,1) 34%, rgba(222,18,111,1) 76%, rgba(241,10,57,1) 97%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

  .tb
  {
       
        width: 100%;
        margin-bottom: 100px;
  
      
  }
  .lb {
    position: fixed;
    top: 10%;
    left: 0%;
    
    
  }
  .sb {
    position: fixed;
    top: 0%;
    left: 0%;
  
    
  }
  .tl 
  {
    /* position: fixed;
    top: 0%;
    left: 0%;
     */
      width: 100px;
     
       
        top: 30%;
        position: absolute;
  }
  .ll{ 
   
    top: 10%;
    left: 49%;
  
    
  }
  .tt
  {
        /* height: 10cm;
        width:10cm;
        left: 40%;
        top: 30%;
        position: absolute;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; */
        
  }
  .tf
  {
       
        /* width:15cm;
        left: 35%;
        margin-top: 50px;
       
        padding-top: 50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        align-items: center;
        justify-content: space-around;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  }
  
  .id{
    position: fixed;
    right: 30px;
    bottom: 40px;
  }
  
.form{
  width: 220px;
}
h2{
  
}
.textfield{
  background-color: aliceblue;
}
.typo{
  color: white;
}
.App{
        height: 10cm;
        width:10cm;
        left: 40%;
        top: 30%;
        position: absolute;
        
       
       
}
.card{
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgb(16,35,196);
  background: linear-gradient(90deg, rgba(16,35,196,1) 0%, rgba(103,122,29,1) 100%);;
}
.loginBackground{
  /* background-image:url(/src/components/images/background.jpg);
  background-repeat: no-repeat;
  */
  background-color: white;
  background-image: url('/src/components/images/White_full.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}
body{
  background-image: url('/src/components/images/save_blood.png');
 
  background-size: cover;
 
  
  
}
